# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\it101b-4\Stefano\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
